/*HOME PAGE*/

.werid h1 {
    text-align: left
    
}
h3 {
    
}
.werid {
    text-align: center;
    background: linear-gradient(black, purple, royalblue); 
    color: white;
    font-family: cursive;
}

img {
    margin-bottom: 30px;
}
.werid img {
    width: 400px;
    height: auto;
}
/*END of Home page*/

/*ACTION AND ADVENTURE PAGE*/

.header-top {
    height: 175px;
    background: linear-gradient(to bottom, #41e0b3 0%, #41d8ee 100%)
    }
    
    
    .dream {
    float:right;
}


    .row img {
    margin-left:30px;
    margin-top:20px;
    border:3px solid #4dff4d;
    height:auto;
    width:100%;
    float:left;
    
}
.intro img {
    width:;
}

.button {
    
}

.divider{
    width:  30px;
    height:auto;
    display:inline-block;
}

.super {
    margin:auto;
}

.col-md-5 {
    
}
.h1 {
    text-align: center
}

/*END Action and Adventure*/



@media(min-width:992px){
    
    } 
@media(max-width:992) {
    
    }